body{
    background-color: blueviolet;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.main{
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    margin-left: 350px;

}
.motivation-img{
    border: 10px solid ghostwhite;
    width: 100%;
}
